@font-face {
    font-family: 'Items';
    src: url('Items-Regular.eot');
    src: url('Items-Regular.eot?#iefix') format('embedded-opentype'),
        url('Items-Regular.woff2') format('woff2'),
        url('Items-Regular.woff') format('woff'),
        url('Items-Regular.ttf') format('truetype'),
        url('Items-Regular.svg#Items-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

