@font-face {
    font-family: 'Items Trial';
    src: url('ItemsTrial-Regular.eot');
    src: url('ItemsTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('ItemsTrial-Regular.woff2') format('woff2'),
        url('ItemsTrial-Regular.woff') format('woff'),
        url('ItemsTrial-Regular.ttf') format('truetype'),
        url('ItemsTrial-Regular.svg#ItemsTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

