:root {
  /* ~-~-~-~-~ colors ~-~-~-~-~ */
  --color-accent: #0D3E54;
  --color-primary: #0F3D54;
  --color-red: #b82929;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #aaa;
  --color-skyblue: #e1f4f6;
  /* ~-~-~-~-~ colors ~-~-~-~-~ */

  /* ~-~-~-~-~ declare font family & weight ~-~-~-~-~ */
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-inter: "Inter", sans-serif;
  /* ~-~-~-~-~ declare font family & weight ~-~-~-~-~ */

  /* ~-~-~-~-~ declare font size ~-~-~-~-~ */
  --f-size-XXXL: 36px;
  --f-size-XXl: 30px;
  --f-size-XL: 25px;
  --f-size-L: 20px;
  --f-size-M: 18px;
  --f-size-S: 16px;
  --f-size-XS: 14px;
  /* ~-~-~-~-~ declare font size ~-~-~-~-~ */

  /* ~-~-~-~-~ common transition ~-~-~-~-~ */
  --transition-common: all 0.5s ease 0s;
  /* ~-~-~-~-~ common transition ~-~-~-~-~ */

  /* ~-~-~-~-~ border radious adjustments ~-~-~-~-~ */
  --radius-5: 5px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-25: 25px;
  --radius-30: 30px;
  --radius-35: 35px;
  --radius-40: 40px;
  --radius-45: 45px;
  --radius-50: 50px;
  /* ~-~-~-~-~ border radious adjustments ~-~-~-~-~ */

  /* ~-~-~-~-~ other adjustments ~-~-~-~-~ */
  --gap-24: 24px;
  --gap-30: 30px;
  --gap-40: 40px;
  --gap-50: 50px;
  --gap-60: 60px;
  /* ~-~-~-~-~ other adjustments ~-~-~-~-~ */

  --margin-title: 0 0 15px 0;
  --margin-paragraph: 0 0 15px 0;
}

/* =========== Responsive Start =========== */
@media only screen and (max-width: 1199px) {
  :root {
    --f-size-XXXL: 34px;
  }
}

@media only screen and (max-width: 767px) {
  :root {
    --f-size-XXXL: 30px;
    --f-size-XXl: 28px;
    --f-size-XL: 23px;
    --f-size-M: 16px;
    --form-height: 45px;
  }
}

/* ~-~-~-~-~-~-~-~-~-~ global settings ~-~-~-~-~-~-~-~-~-~ */

body {
  font-family: var(--ff-montserrat);
  font-weight: 400;
  font-size: var(--f-size-XS);
  color: var(--color-secondary);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

p:last-child {
  margin-bottom: 0;
}

p:not(:last-child) {
  margin: var(--margin-paragraph);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--ff-inter);
  font-weight: 700;
  line-height: 1.25;
  margin: var(--margin-title);
}

h1,
.h1 {
  font-size: var(--f-size-XXXL);
}

h2,
.h2 {
  font-size: var(--f-size-XXl);
}

h3,
.h3 {
  font-size: var(--f-size-XL);
}

h4,
.h4 {
  font-size: var(--f-size-L);
}

h5,
.h5 {
  font-size: var(--f-size-M);
}

h6,
.h6 {
  font-size: var(--f-size-S);
}

/* ~-~-~-~-~-~-~-~-~-~ margin adjustments ~-~-~-~-~-~-~-~-~-~ */
.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

/* ~-~-~-~-~-~-~-~-~-~ margin adjustments ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ padding adjustments ~-~-~-~-~-~-~-~-~-~ */
.padding-block--10 {
  padding-block: 10px;
}

.padding-inline--10 {
  padding-inline: 10px;
}

.padding-block--15 {
  padding-block: 15px;
}

.padding-inline--15 {
  padding-inline: 15px;
}

.padding-block--20 {
  padding-block: 20px;
}

.padding-inline--20 {
  padding-inline: 20px;
}

.padding-block--25 {
  padding-block: 25px;
}

.padding-inline--25 {
  padding-inline: 25px;
}

.padding-block--30 {
  padding-block: 30px;
}

.padding-inline--30 {
  padding-inline: 30px;
}

.padding-block--35 {
  padding-block: 35px;
}

.padding-inline--35 {
  padding-inline: 35px;
}

.padding-block--40 {
  padding-block: 40px;
}

.padding-inline--40 {
  padding-inline: 40px;
}

.padding-block--50 {
  padding-block: 50px;
}

.padding-inline--50 {
  padding-inline: 50px;
}

.padding-block--60 {
  padding-block: 60px;
}

.padding-inline--60 {
  padding-inline: 60px;
}

.padding-block--70 {
  padding-block: 70px;
}

.padding-inline--70 {
  padding-inline: 70px;
}

.padding-block--80 {
  padding-block: 80px;
}

.padding-inline--80 {
  padding-inline: 80px;
}

.padding-block--90 {
  padding-block: 90px;
}

.padding-inline--90 {
  padding-inline: 90px;
}

.padding-block--100 {
  padding-block: 100px;
}

.padding-inline--100 {
  padding-inline: 100px;
}

.padding-common-block {
  padding-top: var(--padding-height);
  padding-bottom: var(--padding-height);
}

/* ~-~-~-~-~-~-~-~-~-~ padding adjustments ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ border width adjustments ~-~-~-~-~-~-~-~-~-~ */
.border-width--1 {
  border-style: solid;
  border-width: 1px;
}

.border-width--2 {
  border-style: solid;
  border-width: 2px;
}

.border-width--3 {
  border-style: solid;
  border-width: 3px;
}

.border-width--4 {
  border-style: solid;
  border-width: 4px;
}

.border-width--5 {
  border-style: solid;
  border-width: 5px;
}

/* ~-~-~-~-~-~-~-~-~-~ border width adjustments ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ radious adjustmnets ~-~-~-~-~-~-~-~-~-~ */
.radious-5 {
  border-radius: var(--radius-5);
}

.radious-10 {
  border-radius: var(--radius-10);
}

.radious-15 {
  border-radius: var(--radius-15);
}

.radious-20 {
  border-radius: var(--radius-20);
}

.radious-25 {
  border-radius: var(--radius-25);
}

.radious-30 {
  border-radius: var(--radius-30);
}

.radious-35 {
  border-radius: var(--radius-35);
}

.radious-40 {
  border-radius: var(--radius-40);
}

.radious-45 {
  border-radius: var(--radius-45);
}

.radious-50 {
  border-radius: var(--radius-50);
}

/* ~-~-~-~-~-~-~-~-~-~ radious adjustmnets ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ font color adjustmnets ~-~-~-~-~-~-~-~-~-~ */
.color-primary {
  color: var(--color-primary);
}

.color-accent {
  color: var(--color-accent);
}

/* ~-~-~-~-~-~-~-~-~-~ font color adjustmnets ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ font weight adjustmnets ~-~-~-~-~-~-~-~-~-~ */
.font-weight--400 {
  font-weight: 400;
}

.font-weight--500 {
  font-weight: 500;
}

.font-weight--700 {
  font-weight: 700;
}

/* ~-~-~-~-~-~-~-~-~-~ font weight adjustmnets ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ border color adjustmnets ~-~-~-~-~-~-~-~-~-~ */
.border-softGrey {
  border-color: #d1d5db;
}

.border-paleGrey {
  border-color: #e3e8ef;
}

/* ~-~-~-~-~-~-~-~-~-~ border color adjustmnets ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ bg color adjustmnets ~-~-~-~-~-~-~-~-~-~ */
.bg-white {
  background: var(--color-white);
}

/* ~-~-~-~-~-~-~-~-~-~ bg color adjustmnets ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ box shadow adjustments ~-~-~-~-~-~-~-~-~-~ */
.bShadow-pattern--1 {
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.06);
}

.bShadow-pattern--2 {
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.02);
}

/* ~-~-~-~-~-~-~-~-~-~ box shadow adjustments ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ equal height adjustments ~-~-~-~-~-~-~-~-~-~ */
.equal-height [class*="col"] > div {
  height: 100%;
}

/* ~-~-~-~-~-~-~-~-~-~ equal height adjustments ~-~-~-~-~-~-~-~-~-~ */

/* ~-~-~-~-~-~-~-~-~-~ full width adjustments ~-~-~-~-~-~-~-~-~-~ */
.full-width {
  width: 100%;
}

/* ~-~-~-~-~-~-~-~-~-~ full width adjustments ~-~-~-~-~-~-~-~-~-~ */

/* --------- header logo adjustments --------- */
.header-logo {
  a {
    display: block;
    height: 22px;

    img {
      width: auto;
      height: 100%;
      display: block;
    }
  }
}

@media only screen and (max-width: 767px) {
  .header-logo {
    a {
      height: 14px;
    }
  }
}

/* --------- header logo adjustments --------- */

/* ~-~-~-~-~-~-~-~-~-~ table design adjustments ~-~-~-~-~-~-~-~-~-~ */
.MuiTable-root {
  .MuiTableHead-root {
    position: sticky;
    top: 0;
    z-index: 1;

    th {
      font-family: var(--ff-inter);
      font-weight: 400;
      color: #676767;
      white-space: nowrap;
      border-bottom: 1px dashed #797979;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .MuiTableBody-root {
    td {
      font-family: var(--ff-inter);
      font-weight: 400;
      border-bottom: 1px solid #dcdcdc;
      white-space: nowrap;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.responsive-table {
  .MuiTableContainer-root {
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
      background-color: #e6e6e6;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: #e6e6e6;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a9a9a9;
      border-radius: 10px;
    }
  }
}

.auditlog-table {
  .MuiTableContainer-root {
    max-height: 350px;
  }
}

.user-data--table {
  .MuiTableContainer-root {
    max-height: 420px;
  }
}

/* ~-~-~-~-~-~-~-~-~-~ table design adjustments ~-~-~-~-~-~-~-~-~-~ */

@media only screen and (max-width: 1299px) {
  .user-data--table {
    .MuiTableContainer-root {
      max-height: 270px;
    }
  }
  .MuiTable-root th,
  .MuiTable-root td {
    padding: 7px 15px;
  }
}

/* ~-~-~-~-~-~-~-~-~-~ top search panel adjustments for ticket listing page ~-~-~-~-~-~-~-~-~-~ */
.table-top--panel .search-input {
  padding-top: 21px;
}

.ticketDetails-substract-text {
  max-width: 240px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* ~-~-~-~-~-~-~-~-~-~ top search panel adjustments for ticket listing page ~-~-~-~-~-~-~-~-~-~ */

/* ===== custom scrollbar adjustments ===== */
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #e8f9f6;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border: 1px solid #b2f8ff;
}

/* ===== custom scrollbar adjustments ===== */

/* ~-~-~-~-~-~-~-~-~-~ chat screen adjutments page ~-~-~-~-~-~-~-~-~-~ */
.dBaord-content-block:has(.chatbox) {
  background: transparent;
  padding-block: 0;
}

.chat-human {
  --header-height: 82px;
  --total-padding: 90px;

  height: calc(100vh - (var(--header-height) + var(--total-padding)));

  .chat-header {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 15px;

    h2 {
      color: var(--color-eerie-black);
    }

    .tag {
      font-size: 12px;
      line-height: 1;
      color: var(--color-accent);
      background: var(--color-skyblue);
      border-radius: 50px;
      padding: 7px 15px;
    }
  }
}

.chat-body {
  flex: 1 1 auto;
  padding-block: 25px;
  overflow-y: auto;

  .chat-inner-wrap {
    /* height: 100%; */
    padding: 0 5px 0;
    gap: 30px 0;
  }
}

.chat-message-block {
  display: flex;
  gap: 0 12px;
  font-size: 12px;

  .avatar {
    width: 32px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .message-box {
    position: relative;
  }

  .message-bubble {
    /* width: fit-content; */
    padding: 12px;
    font-size: var(--f-size-XS);
    font-weight: 400;

    .chat-text-box {
      max-width: 415px;
      /* min-width: fit-content; */
    }

    .chat-radio-box {
      min-width: 415px;
    }

    .chat-calender-box {
      min-width: 415px;
    }

    .chat-inputText-box {
      min-width: 415px;
    }
  }

  &.bot .message-bubble {
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 6px 16px 16px 16px;
    color: #111827;
  }

  &.user .message-bubble {
    background: #00c0d4;
    border: 1px solid #00c0d4;
    border-radius: 16px 6px 16px 16px;
    color: var(--color-black);
  }

  .time-block {
    color: #6b7280;
    margin-top: 3px;
  }

  &.user {
    justify-content: end;

    .time-block {
      text-align: right;
    }
  }
}

.chat-footer {
  flex: 0 0 auto;

  .input-col {
    width: calc(100% - 65px);
  }

  .button-col {
    width: 55px;
  }

  .button-col .MuiIconButton-root {
    width: 55px;
    height: 55px;
    border: none;

    svg {
      font-size: 25px;
    }

    &:disabled {
      background: #777;
    }
  }
}

.chat-footer-input {
  position: relative;
  background: var(--color-white);
  border: 1px solid #e5e7eb;
  border-radius: 25px;
  padding: 12px 40px 5px 20px;

  textarea {
    width: 100%;
    min-height: 30px;
    border: none;
    resize: none;
    position: relative;
    z-index: 1;
    outline: none;
    padding: 0;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      background-color: #e8f9f6;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-accent);
      border: 1px solid #b2f8ff;
    }
  }

  .MuiIconButton-root {
    position: absolute;
    z-index: 2;
    bottom: 7px;
    right: 0;
  }

  .button-primary.button-with-icon.MuiButton-root {
    position: absolute;
    z-index: 2;
    bottom: 7px;
    right: 0;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;

    .MuiButton-icon {
      color: #9ca3af;

      svg {
        font-size: 16px;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }
}
@media only screen and (max-width: 575px) {
  .padding-block--30 {
    padding-block: 20px;
  }

  .padding-inline--30 {
    padding-inline: 20px;
  }
  .chat-human .chat-header h2 {
    font-size: 18px;
  }
  .chat-footer .button-col .MuiIconButton-root {
    width: 40px;
    height: 40px;
  }
  .chat-footer-input {
    padding: 7px 29px 5px 20px;
  }
  .chat-footer-input textarea {
    min-height: auto;
    height: auto !important;
  }
  .chat-footer-input .MuiIconButton-root {
    bottom: 4px;
  }
  .dBaord-content-block:has(.chatbox) {
    padding: 0;
  }
  .rdrCalendarWrapper {
    font-size: 10px;
  }
}